<div>
  <h1>Pagina de Admin:</h1>
  <table>
    <thead>
      <tr>
        <th>Acciones</th>
        <th>Lista de Usuarios</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <form action="admin/createUser" method="post">
            <label for="createUser">Crear un Usuario:</label>
            <input type="text" id="createUser" name="createUser">
            <button type="submit">Crear</button>
          </form>
        </td>
        <td>
          <!-- Aquí puedes listar los usuarios, si es necesario -->
        </td>
      </tr>
    </tbody>
  </table>
</div>