    <div>
    <h1>Search a Product</h1>
    <form action="" method="post">
        <input type="text" name="searchProduct">
        <button>Buscar</button>
    </form>
    {{#if admin}}
    <ul>
        {{#each data}}
           <li class="nombre">{{this.charaName}}</li>
        {{/each}}
    </ul>
       <p>Eres Admin</p>
       {{else}}
          <p>No eres Admin</p>
    {{/if}}
</div>

    