<div class="w-11/12 bg-slate-800 mx-auto py-4">
  <h1 class="text-6xl text-center my-4 mb-12">ADMIN</h1>
  <a href="/admin/usersList" class="text-3xl text-center block w-max mx-auto mb-12 border-white border-b-2">List Users</a>
</div>